* {
  padding: 0px;
  margin: 0px;
  /* outline: 1px dotted red; */
  /* box-sizing: border-box; */
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

a{
  display: inline-block;
}