/* @media screen and (min-width: 22.5em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 22.5em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 25.6875em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 25.6875em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 20em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 20em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 23.4375em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 23.4375em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 48em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 48em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 64em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 64em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 80em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 80em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 90em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 90em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 120em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 120em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 104.125em) {
  header .header-wrapper,
  section .hero .hero-wrapper {
    width: 104.125em;
    margin: 0 auto;
  }
} */
